Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
stamp-h1
test/Makefile
test/Makefile.in
test/fawnds/.deps/
test/fawnds/Makefile
test/fawnds/Makefile.in
utils/.deps/
utils/Makefile
utils/Makefile.in
src/.libs/
src/fawnds_bench
src/libfawnds.la
utils/.libs/
utils/libfawnkvutils.la
*.o
*.lo
*~
*.deps/
